.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.videoCardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  gap: 1rem;
}

.videoSectionTitle {
  font-size: 1.5rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.3rem;
  font-weight: 200;
}
